# Compiled object files
*.o
*.mod

# Executable files
customer_churn
customer_churn.exe

# Build directory
/build/

# IDE-specific files and directories
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db
